<nav>
    <ul>
        <li><a href="/">Home Page</a></li>
        <li>Browse</li>
        <li>About Us</li>
        <li><a href="/houses">Our Houses</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</nav>