body{
    font-family:'Trebuchet MS', Arial;
    margin: 0;
    background-color: black;
    color: white;
}

header{
    width: 100%;
    height: 80vh;
    background: url("../Images/site_banner_Hogwarts.jpg");
    background-position: center;
    background-size: cover;
    display: flex; /*Flex tag here is used for centering the text in the center*/
    justify-content: center; /*This is for horizontal alignment*/
    align-items: center; /*This is for vertical alignment*/
    font-size: 10vh;
    text-align: center;
}

nav ul{
    padding: 0;
    display: flex; /*This method is a much nicer way of arranging the items in a navigation bar */
    justify-content: space-around;
}

nav ul li{
    list-style: none;
}

#Title{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 90px;
}

#intro_p{
    text-align: center;
    font-size: 3vh;
}

#question_1{
    text-align: center;
}

#question_2{
    display: none;
    text-align: center;
}

#question_3{
    display: none;
    text-align: center;
}

#secret_para{
    text-align: center;
    display: none;
    font-size: 3.25vh;
    margin-top: 20px;
    margin-bottom: 35px;
}

.Qn_first_p{
    font-size: 3vh;
    text-align: center;
}

#qn_1-1_ansBtn{
    font-size: 2.5vh;
}

#qn_1-2_ansBtn{
    font-size: 2.5vh;
    margin-bottom: 15px;
}

#qn_2-1_ansBtn{
    font-size: 2.5vh;
}

#qn_2-2_ansBtn{
    font-size: 2.5vh;
    margin-bottom: 15px;
}

#qn_3-1_ansBtn{
    font-size: 2.5vh;
}

#qn_3-2_ansBtn{
    font-size: 2.5vh;
    margin-bottom: 15px;
}